
<p>{{getstatus()}}</p>
<p [innerText]="clicked"></p> 
<p>
 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit architecto voluptatibus fugiat debitis distinctio, dicta, veritatis nostrum aliquam perspiciatis temporibus ad earum voluptate, pariatur exercitationem dolores. Fugiat at mollitia necessitatibus.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis soluta libero delectus at perspiciatis, distinctio blanditiis. Sint, veniam modi exercitationem nisi pariatur consectetur sunt rem quas. Eos deserunt nulla consequuntur?
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo consequatur vel quod quasi id! Non sint eligendi quod quia! Exercitationem maxime sequi excepturi magnam dolorem omnis totam, delectus repudiandae provident.
</p>
<button [disabled]="!status"(click)="onbuttonclick()">click here</button>